#catalogue{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;

    min-height: 160rem;
    padding: $space-128 0;
    #itemList{
        grid-column: 2/3;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: $space-64;
    }
}